.wrapperBorder {
  border-top: 20px solid rgba(30, 30, 30, 1);
  border-left: 20px solid rgba(30, 30, 30, 1);
  border-bottom: 20px solid rgba(30, 30, 30, 1);
  border-right: 20px solid rgba(30, 30, 30, 1);
  height: 100vh;
  overflow: scroll;
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.backToHome {
  margin: 3rem 0 0;
}