:root {
  --main-heading-color: rgba(30, 30, 30, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-heading-color);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}


/* *::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--main-heading-color);
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-left: 9px solid var(--main-heading-color);
  border-right: 9px solid var(--main-heading-color);
  border-top: 20px solid var(--main-heading-color);
  border-bottom: 20px solid var(--main-heading-color);
  border-radius: 20px;
}

*::-webkit-scrollbar-corner {
  background: var(--main-heading-color);
} */
