@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-app {
  background: rgba(30, 30, 30, 1);
  border-radius: 5px;
  padding: 1em;
}

.todo-list {
  background: rgba(30, 30, 30, 1);
  border-radius: 4px;
  padding: 15px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo button:first-child {
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 1px 6px;
  margin: auto 2px;
}

.todo button:last-child {
  border-radius: 3px;
  background: tomato;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 1px 6px;
  margin: auto 2px;
}

.input-button-area {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

/*** Start Scrimba Turorial ***/
.scrimba-tutorial {
  border-radius: 5px;
}

#info-site-container {
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  background-color: #282d35;
}

#info-site-container .scrimba--nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

#info-site-container .nav--logo_text,
.nav--title {
  margin: 0;
}

#info-site-container .nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: bolder;
  font-size: 22px;
}

#info-site-container .nav--title {
  color: #deebf8;
  font-weight: bolder;
}

#info-site-container .nav--icon {
  height: 30px;
  margin-right: 7px;
}

#info-site-container .main--container {
  padding: 57px 27px;
  color: white;
  background-image: url(/images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

#info-site-container .main--title {
  font-size: 1.4em;
  font-weight: bolder;
}

#info-site-container .main--facts {
  margin-top: 16px;
  list-style: disc;
  padding-inline-start: 40px;
}

#info-site-container .main--facts>li::marker {
  font-size: 1.2rem;
  color: #61dafb;
}

/*** End Scrimba Turorial ***/