.wrapperBorder {
  border: 20px solid rgba(30, 30, 30, 1);
  height: 100vh;
  overflow: scroll;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
  font-size: 3em;
  font-weight: 900;
}