.markdown {
  @apply text-lg leading-relaxed;
}

.markdown a {
  @apply transition duration-500 ease-in-out hover:text-gray-500 hover:underline;
}

.markdown p,
.markdown blockquote {
  @apply my-6;
}

.markdown ul,
.markdown ol {
  @apply my-6 list-disc list-inside;
}

.markdown h2 {
  @apply text-3xl mt-6 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-4 mb-4 leading-snug;
}

.markdown mark {
  color: #f0f0f0;
  background: linear-gradient(
    -100deg,
    hsla(220, 13%, 18%, 0.8),
    hsla(220, 13%, 18%, 0.7) 95%,
    hsla(220, 13%, 18%, 0.6)
  );
  border-radius: 0.1em;
  padding: 0.1rem 0.3rem;
}
